li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
    background-color: gainsboro;
}

.like{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 10px;
}

.like__click{
    color: rgb(6, 169, 55);
}

.likeSvg:hover{
    fill: rgb(6, 169, 55);
}

.p{
    font-size: 20px;
    margin: 10px;
}

.p__complete{
    text-decoration: line-through;
}

.delete{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    top: -15px;
    left: 365px;
}

.delete__click{
    color: rgb(219, 2, 2);
}

.deleteSvg:hover{
    fill: rgb(219, 2, 2);
}