li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    position: relative;
    font-weight: 800;
    color: #29404E;
}

.like{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 10px;
}

.like__click{
    color: #013201;
}

.likeSvg:hover{
    fill: #013201;
}

.p{
    font-size: 20px;
    margin: 10px;
}

.p__complete{
    font-weight: 300;
    text-decoration: line-through;
    color: white;
}

.delete{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 97%;;
}

.delete__click{
    color: #880202;
}

.deleteSvg:hover{
    fill: #880202;
}