.form{
    height: 80vh;
    display: flex;
    align-items: center;
}

.form__container{
    display: flex;
    flex-direction: column;
}

.form__label{
    font-size: 25px;
    font-weight: 800;
    color: #B2D4DD;
    text-shadow: 1px 2px #000000c4;
}

.form__textArea{
    height: 37px;
    margin-top: 10px;
    border: 4px solid #B7DAE2;
    border-radius: 5px;
    background-color: #1b3743c2;
}

.form__textArea::placeholder{
    padding-top: 10px;
    text-align: center;
    color: #ffffff63;
}

.form__container--Botones{
    width: 275px;
    height: 49px;
    margin-top: 12px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.TodoForm__btnCancel{
    width: 90px;
    height: 40px;
    margin-top: 10px;
    font-size: 12px;
    border: none;
    color: white;
    background-color: #880202;
}

.TodoForm__btnAdd{
    margin-top: 10px;
    font-size: 12px;
    width: 90px;
    height: 40px;
    border: none;
    color: white;
    background-color: #013201;
}