input{
    width: 20%;
    margin: 0 38.8%;
    padding: 15px;
    border: 4px solid #B7DAE2;
    border-radius: 25px;
    background-color: #1b3743cd;
    outline: none;
    color: white;
}

input::placeholder{
    color: #ffffff61;
    text-align: center;
}